/************************************************
	Desktop Grid
************************************************/

.row {
	width: 100%;
	margin: 0 auto;
}
.row .row {
	min-width: 0;
}
.column, .columns {
	float: left;
	min-height: 1px;
	position: relative;
}
[class*="column"] + [class*="column"]:last-child {
	float: right;
}

.half, .third, .one-third, .fourth,
.one-fourth, .fifth, .one-fifth,
.two-thirds, .three-fourths {
	float: left;
}
.half.last, .third.last, .one-third.last, .fourth.last,
.one-fourth.last, .fifth.last, .one-fifth.last,
.two-thirds.last, .three-fourths.last {
	float: right;
}

.single					{ width: 100%; }
.half						{ width: 49.9%; }
.third,
.one-third			{ width: 33.3%; }
.fourth,
.one-fourth			{ width: 25%; }
.fifth,
.one-fifth			{ width: 20%; }
.two-thirds			{ width: 66.6%; }
.three-fourths	{ width: 75%; }

.one 		{ width: 6.25%; }
.two 		{ width: 12.5%; }
.three 	{ width: 18.75%; }
.four 		{ width: 25%; }
.five 		{ width: 31.25%; }
.six 		{ width: 37.5%; }
.seven 	{ width: 43.75%; }
.eight 	{ width: 50%; }
.nine 		{ width: 56.25%; }
.ten 		{ width: 62.5%; }
.eleven 	{ width: 68.75%; }
.twelve 	{ width: 75%; }
.thirteen 	{ width: 81.25%; }
.fourteen 	{ width: 87.5%; }
.fifteen 	{ width: 93.75%; }
.sixteen 	{ width: 100%; }

/************************************************
	Mobile Styles
************************************************/

@media handheld, only screen and (max-width: 1023px) {

	/* Typography Mobile */

	body, p {
		font-size: 1rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 1.2rem;
	}
	h6 {
		font-size: 1.0rem;
	}
	blockquote {
		margin-left: 0px;
		padding: 12px 0px;
		border-left: none;
	}
	blockquote p {
		font-size: 1.1rem;
		line-height: 1.6;
	}

	/* Theme Mobile */

	.portfolio-not-single .container {
		padding-top: 0px;
	}
	#header.side-header {
		display: none;
	}
	.portfolio-not-single #header.top-header {
		display: block;
	}
	.portfolio-has-logo.portfolio-not-single #header.top-header {
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
	#masthead {
		display: block;
		padding: 12px;
		overflow: hidden;
		box-sizing: border-box;
	}
	.site-title,
	.site-description {
		float: none;
		padding: 2px 0px;
	}
	#navigation {
		display: inline;
		position: relative;
		margin: 0px;
		padding: 0px;
	}
	.portfolio-slideshow #wrapper,
	.portfolio-slideshow .container {
		display: block;
	}
	.portfolio-slideshow #wrapper {
		height: auto;
	}
	.portfolio-slideshow .container {
		margin-top: 0px;
	}
	.portfolio-slideshow .footer {
		position: relative;
	}
	.content {
		display: block;
	}
	.content .five.columns {
		border: none;
	}
	.blog .content,
	.search .content,
	.archive .content,
	.category .content,
	.portfolio .content {
		padding: 0px 36px;
	}
	.blog .headline,
	.archive .headline,
	.category .headline {
		margin-top: 24px;
	}
	.article {
		padding: 36px 0px;
	}
	.post-area,
	.post-area.middle,
	.post-area.right,
	.post-area.full-width,
	.post-area.no-sidebar {
		padding: 0px;
	}
	#comments {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
	}
	.flex-direction-nav .flex-prev {
		left: 12px;
	}
	.flex-direction-nav .flex-next {
		right: 12px;
	}
	.post-header {
		display: block;
	}
	.post-intro {
		padding: 36px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.post-intro .post-taxonomy,
	.post-intro .post-navigation {
		display: none;
	}
	.archive-title {
		margin-top: 36px;
	}
	.blog-holder,
	.archive-holder {
		margin: 24px 0px;
	}
	.blog-holder .article,
	.archive-holder .article {
		padding: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.post-tags p {
		font-size: 0.9em;
	}
	.post-meta::before {
		display: none;
	}
	.post-date p.align-left,
	.post-date p.align-right {
		float: none;
		display: block;
		font-size: 0.9em;
		padding: 2px 0px;
	}
	.archive-column {
		width: 100%;
		padding-right: 0;
	}
	.sidebar {
		padding: 24px 0px;
	}
	.widget {
		margin-bottom: 24px;
	}
	.sidebar .widget:last-child {
		margin-bottom: 12px;
	}
	.footer-information p {
		font-size: 0.8rem;
		text-align: center;
	}
	.footer-information .content {
		text-align: center;
	}
	.footer-information .align-left,
	.footer-information .align-right {
		float: none;
		display: block;
		text-align: center;
	}

	/* Images */

	.feature-img,
	.feature-img:hover .bg-img {
		overflow: visible;
		-webkit-backface-visibility: visible;
	}
	.feature-img:hover .bg-img {
		transform: none;
		-webkit-transform: none;
		-ms-transform: none;
	}
	.blog-holder .feature-img {
		width: calc(100% + 72px);
		max-width: calc(100% + 72px);
		margin-left: -36px;
	}
	img.alignnone,
	.wp-caption.alignnone {
		width: calc(100% + 72px);
		max-width: calc(100% + 72px);
		margin-left: -36px;
	}

	/* Grid */

	body {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		overflow: visible !important;
	}
	.half, .third, .one-third, .fourth,
	.one-fourth, .fifth, .one-fifth,
	.two-thirds, .three-fourths {
		float: none;
		width: 100%;
	}
	.row .row .column, .row .row .columns {
		padding: 0;
	}
	.column, .columns {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	.column:last-child, .columns:last-child {
		margin-right: 0;
		float: none;
	}
	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}
	[class*="column"]:before, [class*="column"]:after {
		content:'';
		display:table;
	}
	[class*="column"]:after {
		clear: both;
	}
}

/************************************************
	Phone Styles
************************************************/

@media handheld, only screen and (max-width: 767px) {

	.top-navigation .social-menu {
		display: none;
	}

}
